h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: bold;
  }

  
p {
    text-align: center;
    font-weight: bold;
}


ul {
    list-style: none;
  }


  li {
    text-align: left;
    list-style-position: inside !important;

    font-size: medium;
  }

